{% extends 'base.html' %}

{% block title %}Время звонков{% endblock %}

{% block content %}
    <h1>Расписание звонков</h1>
    <table>
        <thead>
        <tr>
            <th>Номер пары</th>
            <th>Время</th>
        </tr>
        </thead>
        <tbody>
        {% for numberoflesson, time_start, time_end, is_short_day in schedule_time %}
            <tr>
                <td>{{ numberoflesson }}</td>
                <td>{{ time_start }} - {{ time_end }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}